<h1 class="mt-5">welcome</h1>
        <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
       
<%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
<%= link_to "Sign In", new_account_session_path, class: "btn btn-success" %>
<%= link_to "Sign Up with FB", account_facebook_omniauth_authorize_path, class: "btn btn-info" %>